.hero-header p {
    font-family: "TitilliumWeb-light";
    font-size: 14px !important;
    margin-bottom: 20px;
}

.hero-header h1 {
    font-family: "TitilliumWeb-bold";
    color: #514848;
}

.tea-block img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.tea-block p {
    color: #545b62;
}

.tea-block h3 {
    font-family: "TitilliumWeb-semiBold";
    color: #514848;
}

.tea-block.horizontal {
    max-height: 315px;
}

.navigation-arrow {
    background: #514848;
    border-radius: 10px;
    max-width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 70px;
}

.navigation-arrow:hover {
    background: yellow;
}

.navigation-arrow i {
    font-size: 22px;
    color: #fff;
}

button.load-more {
    border-radius: 30px;
    padding: 20px 45px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 2px 6px 0px #88888880;
    font-family: "TitilliumWeb-regular";
    background: #514848;
    margin: auto;
}

@media (max-width:767px) and (min-width:320px) {
    .tea-block {
        text-align: center;
    }

    .hero-header h1 {
        margin-top: 15%;
        font-size: 32px;
    }

    .tea-block h3 {
        font-size: 26px;
    }

    .tea-block p {
        font-size: 16px !important;
    }

    .navigation-arrow {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
    }

    .tea-block.horizontal {
        height: 100%;
        max-height: initial;
    }

    .tea-block.horizontal h3,
    .tea-block.horizontal p {
        text-align: left;
    }
}

@media (max-width:1023px) and (min-width:768px) {
    .hero-header h1 {
        margin-top: 15%;
        font-size: 70px;
    }
}