section {
    /* height: 100vh; */
}

.yellow-bg {
    background-color: #ffeb00;
}

.red-bg {
    background-color: #bf0500;
}

.green-bg {
    background-color: #8db605;
}

.yellow-bg img,
.green-bg img,
.red-bg img {
    height: 50%;
    /* position: absolute;
    bottom: 80px;
    left: 50%; */
}

.yellow-bg,
.green-bg,
.red-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section {
    background: #fff;
    padding: 0 70px;
}

.second-section h3 {
    font-family: "TitilliumWeb-bold";
    letter-spacing: 0;
    padding-top: 70px;
}

.second-section p {
    color: inherit;
    text-transform: initial;
    font-size: 16px !important;
}

.colors-sec .text-sec {
    top: 50%;
    text-align: center;
    padding: 0 60px;
    position: absolute;
}

.colors-sec h1 {
    position: absolute;
    top: 10%;
    z-index: 999;
    text-transform: uppercase;
    font-size: 12rem;
    font-family: "TitilliumWeb-bold";
    color: #514848;
}

.yellow-sec h1 {
    left: 38%;
}

.red-sec h1 {
    left: 80%;
}
.left-header{
    right: initial !important;
    left: 80%;
}
.right-header{
    left: initial !important;
    right: 80%;
}
.green-sec h1 {
    right: 38%;
    left: initial;
}

.see-more {
    border-radius: 30px;
    padding: 15px 34px;
    font-size: 16px;
    border: none;
    color: #060606;
    text-transform: uppercase;
    box-shadow: 0px 2px 6px 0px #88888880;
    font-family: "TitilliumWeb-bold";
}

.yellow-sec button {
    background: #ffeb00;
}

.red-sec button {
    background: #bf0500;
}

.green-sec button {
    background: #8db605;
}

.products h3 {
    color: #000;
    font-family: "TitilliumWeb-bold";
    font-size: 3rem;
}

.products p {
    color: gray;
    text-align: center;
}

.products-btn {
    border-radius: 30px;
    padding: 3px;
    font-size: 18px;
    background: #fff;
    color: #675f5f;
    margin: 0 5px;
    width: 160px;
}

.red-btn {
    border: 2px solid #bf0500;
}

.red-btn:hover,
.red-btn.active {
    border: none;
    background: #bf0500;
    color: #fff;
}

.yellow-btn {
    border: 2px solid #ffeb00;
}

.yellow-btn:hover,
.yellow-btn.active {
    border: none;
    background: #ffeb00;
    color: #fff;
}

.green-btn {
    border: 2px solid #8db605;
}

.green-btn:hover,
.green-btn.active {
    border: none;
    background: #8db605;
    color: #fff;
}
.circle-bg-container{
    border-radius: 50%;
    min-height: 900px;
    height: 900px;
    transform: scale(0.9);
}
.interactive-img-slick{
    transform: scale(.2);
}
@media (max-width:767px) and (min-width:320px) {
    .products h3 {
        font-size: 2rem;
    }

    .products p {
        font-size: 15px !important;
    }

    .colors-sec .text-sec {
        position: initial;
        padding: 0;
    }

    .colors-sec h1 {
        position: initial;
        font-size: 6rem;
        text-align: center;
        letter-spacing: 0;
    }

    .text-sec p {
        font-size: 16px !important;
    }

    .circle-bg-container {
        min-height: 400px;
        height: 400px;
    }
    .interactive-img-slick{
        transform: scale(1);
    }
}

@media (max-width:1023px) and (min-width:768px) {
    .colors-sec .text-sec {
        position: initial;
        padding: 0;
    }

    .colors-sec h1 {
        position: initial;
        font-size: 6rem;
        text-align: center;
        letter-spacing: 0;
    }

    .text-sec p {
        font-size: 16px !important;
    }
}