.contact-us-sec .title h1 {
    text-align: center;
    color: #514848;
    margin: 0;
    font-size: 100px;
    letter-spacing: 0;
    font-family: "TitilliumWeb-bold";
}

.contact-us-sec .title p {
    font-size: 20px;
    color: gray;
    font-family: "TitilliumWeb-light";
}

.contact-us-sec form input {
    border-radius: 30px;
    padding: 15px 20px;
    border: 2px solid gray;
    font-size: 20px;
}

.contact-us-sec form input:focus {
    outline: none;
}

.contact-us-sec form button {
    border-radius: 30px;
    padding: 15px 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ad170e;
    background: #fff336;
    border: none;
}

::placeholder {
    color: gray;
    font-family: "TitilliumWeb-extraLight";
    opacity: 1;
}

.address p {
    font-size: 22px;
    margin-bottom: 8px;
    font-family: "TitilliumWeb-light";
}

.social-icons i {
    font-size: 30px;
    margin-right: 25px;
    color: #393434;
}

.hero-header {
    position: absolute;
    top: 15%;
    left: 10%;
}

.hero-header p {
    color: #fff;
    font-family: "TitilliumWeb-bold";
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero-header h1 {
    font-family: "TitilliumWeb-bold";
    color: yellow;
}

@media (max-width:767px) and (min-width:320px) {
    .contact-us-sec .title h1 {
        font-size: 50px;
    }

    .contact-us-sec .title p {
        font-size: 14px !important;
    }

    .contact-us-sec form button {
        padding: 8px 18px;
        font-size: 16px;
    }

    .contact-us-sec form input {
        padding: 8px 22px;
        font-size: 16px;
    }
}