@font-face {
    font-family: "TitilliumWeb-regular";
    src: url(../fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: "TitilliumWeb-light";
    src: url(../fonts/Titillium_Web/TitilliumWeb-Light.ttf);
}

@font-face {
    font-family: "TitilliumWeb-extraLight";
    src: url(../fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf);
}

@font-face {
    font-family: "TitilliumWeb-semiBold";
    src: url(../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: "TitilliumWeb-bold";
    src: url(../fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: "TitilliumWeb-black";
    src: url(../fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-family: "TitilliumWeb-black";
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
}

h3 {
    font-family: "TitilliumWeb-black";
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

.container-fluid {
    padding: 0;
    position: relative;
}

.hero-bg {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    /* height: 100vh; */
    object-fit: cover;
}

.hero-bg-video {
    width: 100%;
}

.nav li {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav .sub-menu {
    display: none;
}

.side-menu-icon {
    position: absolute;
    top: 0;
    left: 5px;
    color: #f3f307;
    padding: 10px 30px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #ffeb00;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 100px;
    text-decoration: none;
    font-size: 38px;
    font-weight: 600;
    color: #fff !important;
    cursor: pointer;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

.sidenav a:hover {
    text-decoration: underline;
}

.sidenav a.closebtn:hover {
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 140px;
    margin-left: 50px;
}

.toggle-arrow {
    transform: rotate(180deg);
    transition: 0.15s all ease-in-out;
}

#marquee {
    position: absolute;
    overflow: hidden;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.main-header {
    font-family: "TitilliumWeb-black";
    text-transform: uppercase;
    letter-spacing: 5px;
}

.scroll-container {
    /* height: 100vh; */
    /* overflow-y: scroll; */
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

section {
    /* height: 100vh; */
    /* scroll-snap-align: center; */
    display: flex;
}

.hero-section {
    align-items: baseline;
}

.second-section {
    background-color: rgb(244 242 242);
}

.second-section h3 {
    color: #ffeb00;
    font-size: 50px;
    letter-spacing: 5px;
    padding-top: 130px;
    z-index: 3;
}

.second-section p {
    text-transform: uppercase;
    font-family: "TitilliumWeb-semiBold";
    color: rgb(129 121 121);
    font-size: 29px;
}

.second-section p span {
    text-transform: initial;
    font-family: "TitilliumWeb-light";
}

.second-section button {
    background-color: rgb(244 229 74);
    border-radius: 30px;
    color: rgb(129 121 121);
    border: none;
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 10px;
    max-width: 130px;
    box-shadow: 0px 2px 6px 0px #88888880;
}

.second-section button:hover {
    color: #bd2130;
    box-shadow: none;
}

.marquee-text {
    font-family: "TitilliumWeb-bold";
    color: #f4f2f2;
    font-size: 10rem;
    text-transform: uppercase;
    text-shadow:
        -1px -1px 0 #ccc,
        1px -1px 0 #ccc,
        -1px 1px 0 #ccc,
        1px 1px 0 #ccc;
}

.third-section .header h1 {
    background: #ffeb00;
    height: 250px;
}

.fourth-section {
    background: #ffeb00;
    padding: 80px 30px;
}

.fourth-section .header h1 {
    width: fit-content;
}

.fourth-section .header h1 span {
    font-size: 22px;
    color: #ad170e;
    position: absolute;
    right: 0;
    bottom: 0;
    text-transform: capitalize;
    font-family: "TitilliumWeb-light";
    letter-spacing: 0;
}

.fourth-section p {
    font-size: 20px;
    font-family: "TitilliumWeb-semiBold";
    color: #495057;
}

.fourth-section p:first-child {
    font-family: "TitilliumWeb-light";
}

.kenyan-txt {
    justify-content: space-between;
}

.fourth-section button {
    background-color: #fff;
    border-radius: 30px;
    color: #ad170e;
    border: none;
    text-transform: uppercase;
    padding: 15px 20px;
    max-width: 130px;
    font-size: 12px;
    box-shadow: 0px 2px 6px 0px #88888880;
    transition: font-size .5s;
}

.fourth-section button:hover {
    color: #ffeb00;
    background-color: #ad170e;
    box-shadow: none;
    font-size: 11px;
}

.fifth-section {
    cursor: default;
    padding: 90px 0;
}

.fifth-section h3 {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: #514848;
    margin: 0;
}

.fifth-section p {
    text-align: center;
    font-size: 10px;
}

.fifth-section .square {
    text-align: center;
    font-family: "TitilliumWeb-black";
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #514848;
}

.fifth-section .yellow-border {
    font-family: "TitilliumWeb-bold";
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #ffeb00, 1px -1px 0 #ffeb00, -1px 1px 0 #ffeb00, 1px 1px 0 #ffeb00;
}

.fifth-section .yellow-border:hover {
    color: #ffeb00;
}

.fifth-section h2,
.fifth-section h2 span {
    font-size: 3.5rem !important;
}

.partners h3 {
    color: #fff336;
    font-family: "TitilliumWeb-bold";
    font-size: 2.8rem;
}

.partners p {
    text-align: center;
    font-family: "TitilliumWeb-regular";
    font-size: 14px;
}

.sixth-section img {
    border-radius: 50px;
    /* width: 250px; */
    height: 250px;
    object-fit: cover;
}

.full-h img {
    height: 100%;
    object-fit: cover;
}

.sixth-section h3 {
    color: #cc3838;
    font-family: "TitilliumWeb-bold";
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.sixth-section p {
    color: #838080;
    font-family: "TitilliumWeb-light";
}

.sixth-section button {
    background-color: #fff336;
    border-radius: 30px;
    color: #ad170e;
    border: none;
    text-transform: uppercase;
    padding: 15px 30px;
    max-width: 130px;
    font-size: 12px;
    box-shadow: 0px 2px 6px 0px #88888880;
}


.footer {
    background: #ffeb00;
    margin-top: 15px;
    height: initial;
}

.footer h3 {
    font-size: 33px;
    color: #545b62;
}

.footer p {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #545b62;
}

.footer img {
    border-radius: 50%;
}

.footer .certificates-p {
    text-align: center;
    font-size: 22px;
}

.footer .powered {
    /* color: inherit; */
    font-family: "TitilliumWeb-light";
    font-size: 18px;
}

#marquee2,
#marquee3,
#marquee4 {
    height: 100px;
}

.three-marquees .marquee-text {
    font-family: "TitilliumWeb-bold";
    color: #fff;
    font-size: 7rem;
    text-transform: uppercase;
    text-shadow:
        -1px -1px 0 #ccc,
        1px -1px 0 #ccc,
        -1px 1px 0 #ccc,
        1px 1px 0 #ccc;
}

i.prev,
i.next {
    margin: 50px;
    font-size: 2.3rem;
    cursor: pointer;
}

.marqueee .slick-list {
    width: 100%;
    z-index: 2;
    position: absolute;
}

.slick-slide img {
    width: 100%;
    margin: auto;
}

.interactive_3d {
    position: absolute;
    z-index: 2;
    top: 25%;
    bottom: 0;
}

.interactive_3d img {
    height: 70%;
    margin-left: 25%;
}




@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media (max-width:1024px) and (min-width:768px) {
    .marquee-text {
        white-space: nowrap;
        margin-top: 45px;
        font-size: 7rem;
    }

    .header h1 {
        font-size: 90px;
    }

    .sixth-section h3 {
        font-size: 2rem;
    }
}


@media (max-width:767px) and (min-width:320px) {

    h1 {
        font-size: 65px;
    }

    h3 {
        font-size: 35px;
    }

    p {
        font-size: 20px !important;
    }

    .header h1 {
        font-size: 35px;
    }

    .sidenav a {
        padding-left: 35px;
    }

    section {
        height: initial;
    }

    .second-section {
        padding-top: 37px;
    }

    .second-section h3 {
        padding-top: 30px;
        font-size: 35px;
    }

    .fourth-section {
        padding: 40px 30px;
    }

    .fourth-section .header h1 span {
        font-size: 16px;
        bottom: -15px;
    }

    .fifth-section p {
        font-size: 15px !important;
    }

    .fifth-section .square {
        font-size: 22px;
    }

    .fifth-section .yellow-border {
        font-size: 30px !important;
    }

    .fifth-section h2,
    .fifth-section h2 span {
        font-size: 25px !important;
    }

    .partners p {
        font-size: 14px !important;
    }

    .footer h3 {
        font-size: 23px !important;
    }

    .footer p {
        font-size: 14px !important;
    }

    .sidenav .closebtn {
        font-size: 100px;
    }

    .marquee-text {
        white-space: nowrap;
        font-size: 42px;
        margin-top: 40px;
    }

    .three-marquees .marquee-text {
        font-size: 3rem;
    }
    .slick-arrow {
        margin: 10px !important;
    }
}