.marquee-text {
    color: #fff;
}

.marquee {
    height: 200px;
}

.hero-header {
    position: absolute;
    top: 15%;
    left: 10%;
}

.hero-header p {
    color: #fff;
    font-family: "TitilliumWeb-bold";
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero-header h1 {
    font-family: "TitilliumWeb-bold";
    color: #ffeb00;
}

.year-sec .text-sec {
    top: 35%;
    text-align: center;
    position: absolute;
}

.year-sec h1 {
    position: absolute;
    top: 0;
    z-index: 999;
    text-transform: uppercase;
    font-size: 12rem;
    font-family: "TitilliumWeb-bold";
    color: #ffeb00;
    width: 100%;
}

.year-sec img {
    width: 30rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 22%;
    max-width: 500px;
    opacity: 0.8;
    margin: 20px;
}

.year-sec.right-img h1 {
    left: 35%;
}

.year-sec.left-img h1 {
    left: 34%;
}

.delicious-sec h3 {
    color: #fff336;
    font-family: "TitilliumWeb-bold";
    margin-bottom: 40px;
    font-size: 6.8rem;
}

.delicious-sec p {
    font-size: 16px !important;
}


@media (max-width:767px) and (min-width:320px) {
    .delicious-sec h3 {
        font-size: 2rem;
    }
}

@media (max-width:1023px) and (min-width:768px) {
    .delicious-sec h3 {
        font-size: 4.8rem;
    }
}

@media (max-width:1023px) {
    .year-sec .text-sec {
        position: initial;
        padding: 0;
    }

    .year-sec h1 {
        position: initial;
        font-size: 6rem;
        text-align: center;
        letter-spacing: 0;
    }

    .text-sec p {
        font-size: 16px !important;
    }

    .year-sec img {
        display: flex;
        justify-content: center;
    }
}